/**Typographi**/
/**Body**/
body {
  margin: 0%;
}
.hide {
  display: none;
}
.main-container {
  display: flex;
}
.background img {
  width: 120%;
  height: auto;
}
/*** Welcome menu ***/
.menu-welcome {
  width: 250px;
  height: 350px;
  border: solid;
  border-width: 15px;
  padding: 15px;
  background-color: white;
  position: absolute;
  z-index: 1;
  margin-left: 40%;
  margin-top: 10%;
  border-radius: 7%;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  text-align: center;
}
.menu-welcome img {
  width: 130px;
  height: 150px;
  align-items: center;
  margin-left: 14%;
}
.button {
  border: none;
  border-radius: 25px;
  padding: 10px 60px;
  color: white;
  background-color: #ff3333;
  font-family: 'Acme', sans-serif;
  font-size: 15px;
  margin: 4px;
}
.button:hover {
  background-color: #ff6666;
}
/*** Menu name and level***/
.menu-login {
  width: 250px;
  height: 350px;
  border: solid;
  border-width: 15px;
  padding: 15px;
  background-color: white;
  position: absolute;
  z-index: 1;
  margin-left: 40%;
  margin-top: 10%;
  border-radius: 7%;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  text-align: center;
  height: auto;
}
.menu-login .buttons-level {
  display: flex;
  flex-direction: column;
}
.menu-login input {
  width: 250px;
  height: 20px;
}
.menu-login #err-button {
  background-color: #ff6666;
  border-radius: 15px;
  padding: 10px 30px;
}
/**Board**/
.main-board {
  width: 250px;
  height: 350px;
  border: solid;
  border-width: 15px;
  padding: 15px;
  background-color: white;
  position: absolute;
  z-index: 1;
  margin-left: 40%;
  margin-top: 10%;
  border-radius: 7%;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  text-align: center;
  width: 900px;
  height: auto;
  margin-left: 18%;
  margin-top: 5%;
}
.main-board .button-attempts {
  border: solid;
  border-color: #ff3333;
  border-radius: 10px;
  width: 450px;
  height: 40px;
  background-color: aliceblue;
  font-family: 'Acme', sans-serif;
  font-size: 17px;
}
.main-board #name {
  color: #ff3333;
}
.main-board #attemptsMax {
  color: #ff3333;
}
.main-board #levelChosen {
  color: #ff3333;
}
.cards-board img {
  width: 180px;
  height: 130px;
  padding: 8px;
}
.turn {
  transform-style: preserve-3d;
  transition: 0.9s;
  transform: rotateY(360deg);
}
.filter {
  filter: grayscale(100%);
}
/**Win-modal**/
.win-modal {
  width: 250px;
  height: 350px;
  border: solid;
  border-width: 15px;
  padding: 15px;
  background-color: white;
  position: absolute;
  z-index: 1;
  margin-left: 40%;
  margin-top: 10%;
  border-radius: 7%;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  text-align: center;
  width: 400px;
  margin-left: 35%;
  height: auto;
}
.win-modal .table-ranking {
  border: groove;
  border-color: black;
  width: 300px;
  margin-left: 10%;
  margin-bottom: 5%;
}
.win-modal .table-ranking .indicadores {
  display: flex;
  justify-content: space-around;
}
.win-modal .table-ranking .results {
  display: flex;
  justify-content: space-around;
}
/**Lose-modal**/
.lose-modal {
  width: 250px;
  height: 350px;
  border: solid;
  border-width: 15px;
  padding: 15px;
  background-color: white;
  position: absolute;
  z-index: 1;
  margin-left: 40%;
  margin-top: 10%;
  border-radius: 7%;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  text-align: center;
  width: 400px;
  height: auto;
  margin-left: 30%;
}
/**Art-gallery-modal**/
.art-gallery {
  width: 250px;
  height: 350px;
  border: solid;
  border-width: 15px;
  padding: 15px;
  background-color: white;
  position: absolute;
  z-index: 1;
  margin-left: 40%;
  margin-top: 10%;
  border-radius: 7%;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  text-align: center;
  width: 900px;
  height: auto;
  margin-left: 15%;
}
.art-gallery #h4 {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  text-align: left;
  margin-left: 10%;
}
.art-gallery .carrousel-pictures {
  width: 800px;
  margin-left: 7%;
  margin-top: 2%;
}
.art-gallery i {
  font-size: 50px;
  position: absolute;
  margin-top: 25%;
  margin-left: -10px;
  padding-right: 20px;
}
.art-gallery img {
  width: 600px;
  height: 500px;
}
