/**Typographi**/

@font: 'Acme', sans-serif;
@cursiva:'Lobster', cursive;

/**Body**/

body{
    margin: 0%;
}

.hide{
    display: none;
}

.main-container{
    display: flex; 
}
.background img{
     width: 120%;
     height: 120%;
 }

 /*** Welcome menu ***/

.menu-welcome{
    width: 250px;
    height: 350px;
    border: solid;
    border-width: 15px;
    padding: 15px;
    background-color:white;
    position: absolute;
    z-index: 1;
    margin-left: 40%;
    margin-top: 10%;
    border-radius: 7%;
    font-family: @font;
    font-size: 20px;
    text-align: center;
}
.menu-welcome img{
    width: 130px;
    height: 150px;
    align-items: center;
    margin-left: 14%;
}

.button{
    border: none;
    border-radius: 25px;
     padding: 10px 60px;
     color:white;
     background-color: #ff3333;
     font-family: @font;
     font-size: 15px;  
     margin: 4px;
}
.button:hover{
    background-color: #ff6666;
}

/*** Menu name and level***/

.menu-login{
    border: solid;
    .menu-welcome();
    height: auto;
    .buttons-level{
        display: flex;
        flex-direction: column;
    }
    input{
        width: 250px;
        height: 20px;
    }
    #err-button{
        background-color: #ff6666;
        border-radius: 15px;
        padding: 10px 30px;
    }
}

/**Board**/

.main-board{
    border: solid;
    .menu-welcome();
    width: 900px;
    height: auto;
    margin-left: 18%;
    margin-top: 5%;
    
    .button-attempts{
        border: solid;
        border-color: #ff3333;
        border-radius: 10px;
        width: 450px;
        height: 40px;
        background-color: aliceblue;
        font-family: @font;
        font-size: 17px;
    }
    #name{
        color: #ff3333;
    }
    #attemptsMax{
        color: #ff3333;
    }
    #levelChosen{
        color: #ff3333;
    }
}
.cards-board img{
width: 180px;
height: 130px;
padding: 8px;

}
.turn{
    transform-style: preserve-3d;
    transition: 0.9s;
    transform: rotateY(180deg);
}
.filter{
    filter: grayscale(100%);
}
/**Win-modal**/

.win-modal{
    .menu-welcome();
    width: 400px;
    margin-left: 35%;
    height: auto;
    .table-ranking{
        border: groove;
        border-color: black;
        width: 300px;
        margin-left: 10%;
        .indicadores{
            display: flex;
            justify-content: space-around;
        }
        .results{
            display: flex;
            justify-content: space-around;
        }
        
    }
}
/**Lose-modal**/

.lose-modal{
    .menu-welcome();
    width: 400px;
    height: auto;
    margin-left: 30%;
}

/**Art-gallery-modal**/

.art-gallery{
    .menu-welcome();
    width: 900px;
    height: auto;
    margin-left: 15%;
    #h4{
        font-family: @cursiva;
        font-size: 30px;
        text-align: left;
        margin-left: 10%;
    }
    .carrousel-pictures{
        width: 800px;
        margin-left: 7%;
        i{
            font-size: 50px;
            position: absolute;
            margin-top: 25%;
            margin-left: -10px;
            padding-right: 20px;
        }
    }
}
.art-gallery img{
    width: 600px;
    height: 500px;
}